* {
  margin: 0px;
  padding: 0px;
  background-color: #7fe3f5;
  box-sizing: content-box;
}

#container{
  margin: auto;
  margin-top: 75px;
  margin-bottom: 75px;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 25px;
  width: 1000px;
  background-color: #FF5E58;
}

.tittle{
  background-color: #FF5E58;
  color: #edc80c;
  font-size: 35px;
  font-weight: bold;
  margin: 20px;
}

.gridContainer{
  width: 800px;
  height: 600px;
  display:flex;

}

.columns{
  flex:1;
  display: flex;
  flex-direction: column;
  border-color:#6f7070;
}
  
.rows{
  flex:1;
  border: solid #6f7070 1px;
}

.btn,
.rainbow,
.restartButton,
.defaultColor{
  font-size: 15px;
  margin: 30px;
  padding: 15px;
  border-radius: 5px;
  border: solid #edc80c 5px;
  font-weight: bold;
  color: #edc80c;
  background-color: #FF5E58;
  
}

.btn:hover,
.rainbow:hover,
.restartButton:hover,
.defaultColor:hover{
  cursor:pointer;
  transform: scale(1.05);
  transition: 0.05s;
}

.bottomContainer{
  display: flex;
  background-color: #FF5E58;
}

